@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,900&display=swap');

/* reset default style */
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 48px;
}

body {
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  box-sizing: border-box;
  max-width: 1600px;
  border: 1px solid black;
}

header {
  background-color: aquamarine;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

/* section overview */
#section-overview {
  background-color: goldenrod;
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
}

#section-overview>div.contract {
  /* background-color: pink; */
  margin: 20px;
  width: 315px;
}

#section-overview>div.contract>h1 {
  margin-bottom: 50%;
}

#section-overview>div.profile-image-container {
  height: 70%;
  margin: auto 0 0;

}

#section-overview>div.profile-image-container>img {
  height: 100%;
  width: 100%;
  min-width: 270px;
}

#section-overview>div.occupation {
  width: 310px;
  margin: auto 15px 10px;
}


/* section exp */
#section-my-experiences>h1 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

#section-my-experiences>.exp-container {
  background-color: pink;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#section-my-experiences>.exp-container>.row {
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  gap: 35px;
}

#section-my-experiences>.exp-container>.row>.working-detail {
  background-color: paleturquoise;
  width: 40%;
}

#section-my-experiences>.exp-container>.row>.working-detail>h2 {
  margin-bottom: 10px;
}

#section-my-experiences>.exp-container>.row>.role {
  width: 40%;
}

#section-my-experiences>.exp-container>.row>.role>ul {
  /* padding-left: 10px; */
  /* margin-left: 10px; */
  list-style-position: inside;
}

#section-my-experiences>.exp-container>.row>.role>ul>li {
  /* padding-left: 10px; */
  /* margin-left: 10px; */
  width: 100%;
}